Package: com.m4fn3.gommirativ
Name: gommirativ
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass jailbreak detection of Mirrativ
Maintainer: mafu
Author: mafu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
Icon: https://cdn.discordapp.com/attachments/1009459069087649792/1104256572764467270/256.png