Package: com.m4fn3.gommirativ
Name: Gommirativ
Version: 1.0.0
Architecture: iphoneos-arm
Description: Bypass jailbreak detection of Mirrativ app!
Maintainer: mafu
Author: mafu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
